a:hover{
    text-decoration: none;
}
    header{
        
        max-width: 1300px;
        padding: 0 130px;
        height: 50px;
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid rgba($color: #333, $alpha: 0.3);
        // padding: 15px;
        background-color: white;
        .page-wapper{
            a{
                display: flex;
                flex-direction: column;
                img{
                    // padding-top: 10px;
                    width: 110%;
                }
                span{
                    font-size: 9px;
                }
            }
        }
        .menu{
            ul{
                display: flex;
                align-items: center;
                justify-content: center;
                li{
                    margin-left: 15px;
                    position: relative;
                    &::after
                    {
                        position: absolute;
                        content: "";
                        width: 100%;
                        height: 3px;
                        background-color: blue;
                        opacity: 0;
                        left: 0;
                        bottom: -13px;
                    }
                    &:hover{
                        a{
                            text-decoration: none;
                        }
                    &::after{
                        opacity: 1;
                      
                    }
                    }
                    a{
                        // padding: 20px 0px;
                        // padding-top: 10px;
                        // margin-top: 30px;   
                        font-size: 15px;
                        font-weight: bold;
                        // margin-top: 25px;
                    }
                }
            }
        }
        .toolbox{
            display: flex;
            padding-left: 10px;
            .search{
                font-size: 20px;
                margin-right: 15px;
            }
            .user{
                width: 30px;
                border-radius: 50%;
                overflow: hidden;
                img{
                    width: 100%;
                }
            }
        }
    }
    .banner{
        width: 100%;
        // overflow: hidden;
        img{
            width: 100%;
            // height: 500px;
            // transform: scaleY(2);
        }
    }
.container{
    width: 1200px;
        // height: 100vh;
        margin: auto;
 .content{
    width: 100%;
    margin-top: 15px;
     .new{
         display: flex;
         justify-content: center;
         width: 100%;
        //  overflow: hidden;

        .first-new{
            color: red;
        } 
        .new-one{
            margin-left: 15px;
            // overflow: hidden;
            width: 670px;
            margin-right: 130px;
        }
        .new-two{
            width: 20%;
            .weather{
                display: flex;
                justify-content: center;
                align-items: center;
                // margin: 0;
                // padding: 0;
                h3{
                    font-size: 16px;
                    font-weight: 300;
                    padding-right: 10px;
                }
                img{
                    height: 30px;
                    width: auto;
                }
            }
            
        }
     }
 }
 .content2{
     width: 100%;
     display: flex;
    //  padding: 15px;
     
     .content-left{
        width: 30%;
        .con-left{
            display: flex;
            padding-bottom: 10px;
            border-bottom: 1px solid rgba($color: #333, $alpha: 0.3);
            .img{
               img{
                width: 150px;
                
               }
            }
            .con-left1{
               padding-left: 15px;
            }
          
        }
        .con-edit{
            padding-top: 15px;
        }
     }
     .content-center{
        width: 45%;
        padding: 0 20px;
        .img{
            width: 100%;

            img{
                width: 100%;
            }
        }
        
        .con-center{
            a{
                // margin-top: 30px;
                font-size: 30px;
                line-height: 2rem;
                font-weight: bold;

            }
            span{
                a{
                    font-size: 14px;
                }
            }
        }
     }
     .content-right{
        width: 25%;
        .con-right{
            width: 100%;
            padding-bottom: 20px;
                img{
                    width: 100%;
                }
                a{
                    font-weight: bold;
                }
            }
        }
     }
.content3{
    max-width: 1200px;
    background-color: #f6e58d;
    border-radius: 5px;
 .con3-menu{
     
     padding: 30px 15px;
     ul{
         display: flex;
         justify-content: left;
         align-items: center;
         li{
             margin-right: 20px;
             a{
                 &:hover{
                     color: red;
                 }
             }
         }
     }
 }
 .con1{
     display: flex;
     justify-content: center;
     width: 100%;
     height: 350px;
     padding: 10px;
     position: relative;
     

     .con1-1{
         padding: 10px;
         width: 50%;
         img{
         height: 110%;
         &::after{
            position: absolute;
            content: "Sao Việt ra sân bay trở về sau lễ cưới Đông Nhi - Ông Cao Thắng";
            bottom: 10px;
            left: 10px;
            width:  80%;
            color: white;
            z-index: 15;
           }

         }

     }
     .con1-2{
         width: 25%;
         padding: 10px;
         img{
         height: 50%;
         width: 100%;

         }
     }
     .con1-3{
        width: 25%;
        padding: 10px;
        img{
         height: 50%;


         }

    }

}
.con2{
    display: flex;
    height: 350px;
    margin: 25px 10px;
    .con2-1{
        width: 25%;
        padding: 10px;
        img{
            height: 56%;
        }
        p{
            margin-top: 11px;
        }
    }
}
}
     .content-end{
         display: flex;
         flex-direction: column;
         align-items: center;
         margin-bottom: 30px;
         span{
             font-weight: 100;
         }
         ul{
             display: flex;
             li{
                 padding:0 10px;
                 border-right: 1px solid rgba($color: #333, $alpha: 0.3);
                 &:nth-child(4){
                     border-right: none;
                 }
             }
         }
     }
 
    }